// SECTION :: START

section#number.number
	.c-grid

		.number__header
			.number__header-left
				p.number__title.c-subtitle Some numbers about us

			.number__header-right
				p.number__desc We are helping financial institutions to accelerate customer acquisition and improve loyalty.

		.number__wrapper

			.number__box-wrapper.viewport-countTo-js
				div
					.number__box.number__box-1
						.number__box-badge
							i.icon-font.icon-like
							span Acquisition
						p.number__box-count!= "<span>70</span>%"
						p.number__box-title!= "Reduced Customer<br>Acquisition Cost"
				div
					.number__box.number__box-2
						.number__box-badge
							i.icon-font.icon-loupe
							span Conversion
						p.number__box-count!= "<span>6</span>x"
						p.number__box-title!= "More<br>conversions"
				div
					.number__box.number__box-3
						.number__box-badge
							i.icon-font.icon-star
							span Engagement
						p.number__box-count!= "<span>15</span>%"
						p.number__box-title!= "More Engagement<br>Rate"

// SECTION :: END
