// SECTION :: START

section#number.number
	.c-grid

		.number__header
			.number__header-left
				p.number__title.c-subtitle Some numbers about us

			.number__header-right
				p.number__desc Venenatis urna cursus eget nunc scelerisque. Phasellus egestas tellus rutrum tellus pellentesque eu. Eu turpis egestas pretium aenean. Egestas diam in arcu cursus euismod quis viverra.

		.number__wrapper

			.number__box-wrapper
				div
					.number__box.number__box-1
						.number__box-badge
							i.icon-font.icon-like
							span SOMETHING
						p.number__box-count(data-num='70' number-count1-js)!= "<span>70</span>%"
						p.number__box-title!= "Reduced Customer<br>Acquisition Cost"
				div
					.number__box.number__box-2
						.number__box-badge
							i.icon-font.icon-loupe
							span SOMETHING
						p.number__box-count(data-num='6' number-count2-js)!= "<span>6</span>x"
						p.number__box-title!= "More<br>conversions"
				div
					.number__box.number__box-3
						.number__box-badge
							i.icon-font.icon-star
							span SOMETHING
						p.number__box-count(data-num='15' number-count3-js)!= "<span>15</span>%"
						p.number__box-title!= "More Engagement<br>Rate"

// SECTION :: END
